@media (max-width: 576px) {
  .ant-card {
    width: 100% !important;
    margin: 0 auto 10px;
  }
}

@media (min-width: 576px) {
  .ant-card {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .ant-card {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .ant-card {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .ant-card {
    width: 100% !important;
    margin: 0 auto;
  }
}
