/* Общие стили */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Избежать горизонтального скролла */
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Стиль секций */
section {
  padding: 4rem 0;
  width: 100vw; /* Обеспечить растяжение секций на всю ширину экрана */
  box-sizing: border-box;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-center {
  text-align: center;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.ml-auto {
  margin-left: auto;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .navbar .navbar-nav {
    text-align: center;
  }

  .navbar .dropdown-menu {
    position: static;
    float: none;
  }

  .navbar .dropdown-menu.show {
    display: block;
  }

  section {
    padding: 2rem 1rem;
    width: 100%; /* Исправляем ширину для мобильных устройств */
  }

  .text-center-mobile {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .navbar .ml-auto {
    margin-left: auto !important;
  }
}
